body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}